*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{

    display: flex;
    justify-content: space-around;
}
header
{
    background-color:rgb(202 183 142) ;
    height: 750px;
}
nav ul{
    list-style: none;
    display: flex;
    position: relative;
    top: 15px;
}
nav img{
    width: 200px;
    position: relative;
    top: 1px;
    left: 120px;
    
}
nav ul li{
    margin-right: 45px;
}
nav ul li a{
 text-decoration: none;
 color: #842f00;
 font-size: 20px;
 text-transform: capitalize;
}
nav ul li a:hover
{
    color: white;
}
.parents
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
}
.parents img{
    width: 40%;
  
    
}

header .info
{
    width: 50%;
    margin-top: 80px;
}
header .info p{
    margin: 30px 0;
    font-size: 20px;
    color: white;
    
}
header .info button
{
    margin: 12px;
}
header .info h1
{
color: brown;
}
header .info button
{
    padding: 10px 20px ;
    border-radius: 15px;
    border: none;
    background-color: #842f00;
    color: white;
}
#h2
{
    background-image: url(../img/pexels-edward-eyer-1049626.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 450px;
    
}
.overley
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;right: 0; left: 0; bottom: 0;
    background-color: rgba(50, 45, 45, 0.5);

}
.div1
{
    text-align: center;
    padding: 10%;
    
}
.div1 h2{
    padding-bottom: 15px;
   color: white;
   margin: 15px;
   font-size: 25px;
}
.div1 p{
    margin: 15px;
    color: white;
    font-size: 20px;
}
.div1 button
{
    padding: 8px;
    width: 10%;
    border-radius: 50px;
}

/* #h2 h2
{
    color: white;
    text-align: center;
    margin: -15px;
margin-bottom: 20%;
padding: 70px;

}
#h2 p{
    color: beige;
   
    font-size: 20px;
    
    

}
#h2 button
{
    text-align: center;
    margin-left: 400px;
    padding: 7px;
} */
#h3
{
    height: 650px;
    background-color:rgb(202 183 142 / 52%);
    text-align: center;
    margin: -20px;
    padding: 120px;
}
#h3 p
{
    padding: 100px;
}
#h3 h2{
    margin: -60px;
}
.parents2
{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}


#h4
 {
    height:700px ;
    background-color:rgb(202 183 142);
    text-align: center;
 }
 #h4 h2{
    padding: 20px;
 }
 #h4 p{
    padding: 20px;
 }
 .fa-utensils
 {
    width: 40px;
    border: black 5px double;
    border-radius: 50%;
    height: 30px;
 }
.fa-kitchen-set
{
    width: 40px;
    border: black 5px double;
    border-radius: 50%;
    height: 30px;
}
.fa-trophy
{
    width: 40px;
    border: black 5px double;
    border-radius: 50%;
    height: 30px;
}
section
{
    height: 500px;
    background-color: rgb(202 183 142 / 38%) ;
}
.sect1
{
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 400px;
    align-items: center;
    background-color: rgb(202 183 142 / 52%);
}
.sect2
{
    background-color: #b9b98980;
    width: 500px;
    height: 200px;
    border-radius: 50px;
    border: 3px solid gray;
    margin: 30px;
    text-align: center;
    padding: 25px;
}
.sect1 img
{
    border: 3px solid gray;
    border-radius: 50%;
}
.sect1 button{
    border: 2px solid gray;
    border-radius: 50%;
    padding: 5px;
    
}
.sect3 
{
    text-align: center;
    background-color: rgb(202 183 142);
    height: 400px;
}
.sect3 h2{
    padding: 30px;
}


.sect3 button
{
    text-align: center;
    padding: 7px;
    width: 30%;
    background-color: #e5e1c8;
}
.sect3 input
{
    padding: 5px;
    margin: 5px;
    height: 30px;
    width: 20%;
}

.sect3 textarea
{
    width: 40%;
    margin: 4px;
}
.sect3 h2{
    text-transform: capitalize;
    font-size: 25px;
}
footer
{
    background-color: white;
    height: 60px;

}
.i1
{
    text-align: right;
    font-size: larger;
   
}
footer h6{
    font-size: larger;
}
.fa-facebook , .fa-instagram , .fa-whatsapp
{
    padding: 12px;
    font-size: large;
}
.parents button a
{
    color: white;
    text-decoration: none;
}
#h2 button a{
    color: black;
    text-decoration: none;
}
.class10 a{
    text-decoration: none;
    color: rgb(85 26 139);
    font-size: larger;
    font-weight: bold;

}
footer p{
    color: rgb(85 26 139);
}
